<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.laboratory.Mapper.ApplicationClassroomMapper" >
    <select id="query" resultType="com.spring.laboratory.Entity.ApplicationClassroom">
        SELECT *
        FROM applicationclassroom
        ORDER BY uuid DESC
    </select>
    <select id="querybystudentid" resultType="com.spring.laboratory.Entity.ApplicationClassroom">
        SELECT *
        FROM applicationclassroom
        WHERE student_id=#{studentId}
        ORDER BY uuid DESC
    </select>
    <select id="queryfuzzy" resultType="com.spring.laboratory.Entity.ApplicationClassroom" parameterType="java.lang.String">
        SELECT *
        FROM applicationclassroom
        WHERE CONCAT(IFNULL(application_time,''),IFNULL(student_name,''),IFNULL(student_id,''),IFNULL(start_time,''),IFNULL(end_time,''),
                     IFNULL(use_demand,''),IFNULL(use_reason,''),IFNULL(remark,''),IFNULL(application_status,''))
        LIKE CONCAT(CONCAT('%',#{studentName}),'%')
        ORDER BY uuid DESC
    </select>
    <select id="querydoornumber" resultType="Map">
        SELECT uuid,door_number,lab_name
        FROM labmanagement
        ORDER BY door_number ASC
    </select>
    <insert id="insert" parameterType="com.spring.laboratory.Entity.ApplicationClassroom">
        insert into
        applicationclassroom(uuid,application_time,student_name,student_id,start_time,end_time,use_demand,use_reason,remark,application_status,classroom)
        values
        (replace(uuid(), '-', ''),now(),#{studentName},#{studentId},#{startTime},#{endTime},#{useDemand},#{useReason},#{remark},#{applicationStatus},#{classroom})
    </insert>
    <update id="update" parameterType="com.spring.laboratory.Entity.ApplicationClassroom">
        UPDATE applicationclassroom
        SET application_status=#{applicationStatus},
            classroom=#{classroom}
        WHERE uuid=#{uuid}
    </update>
    <delete id="deleteall" parameterType="com.spring.laboratory.Entity.ApplicationClassroom">
        DELETE FROM applicationclassroom
    </delete>
    <delete id="deletebyuuid" parameterType="java.lang.String">
        DELETE
        FROM applicationclassroom
        WHERE uuid=#{uuid}
    </delete>
    <delete id="batchdeleteuuid" parameterType="java.lang.String">
        delete
        FROM applicationclassroom
        where uuid in
        <foreach collection="array" item="uuid" open="(" separator="," close=")">
            #{uuid}
        </foreach>
    </delete>
</mapper>